h1 {
	background-color:#F0F0F0;
	color:#A4A400;
	font-family:"Lucida Sans Unicode", Helvetica, Arial,sans-serif;
	font-size:18pt;
	font-weight:bold;
	font-style:normal;
	text-decoration:underline;	
	text-align:left;
}
#mainheaging{
	font-size:22pt;
	text-align:center;
}
body{
	background: #ffffff url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg") repeat fixed right bottom;
	color:#404040;
	font-size:11pt;	
   font-family:Georgia,Garamond,serif;
   
}
abbr{
	text-decoration: underline;	
}
pre{
	font-family:monospace;
}
div blockquote{
	background-color: yellow;
	font-style: italic;
}
ul{
	list-style-image: url('https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif');
}
a{
	color:#A4A400;
}